.main {
    width: 100%;
    position: relative;
    background: #ffffff center repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
}

.logo {
    width: fit-content;
    margin: 0 auto;
}
.btnRegistration {
    padding: 12px 24px;
    top: 20px;
    background: #4A61DD;
    border-radius: 6px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 8px;
    text-decoration: none;
}
.btnEnter{
    font-family: 'Montserrat' ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}
.authorization_block{
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.logIn_block {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.container {
    width: 100%;

}
.top_Block {
    display: flex;
    justify-content: space-around;
}
.mainText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-top: 40px;
}
.footer_tags {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 120px;
}
.breakfast_tag, .dinner_tag, .supper_tag {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
}
.recipes_blocks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.block_recipe {
    max-width: 364px;
    width: 100%;
    height: 520px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    font-family: Montserrat sans-serif;
    font-style: normal;
    margin: 20px;
}
.block {
    width: 400px;
    margin: 40px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}
.block:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.imgRecipe {
    width: 100%;
    height: 240px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.titleRecipe {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 24px;
    max-height: 50px;
    overflow: hidden;
}
.tag_type {
    background: rgba(234, 146, 99, 0.12);
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: green;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0 8px;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 16px;
}
.time_tag_block {
    display: flex;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.user_name_author {
    display: flex;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.cta_recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    background: #F0F3FF;
    border-radius: 6px;
    color: #4A61DD;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: fit-content;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 30px;
}
.cta_recipe:hover {
    background: #D8DEFF;
}
.header {
    width: 100%;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav*/
.navLogin {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    display: none;
}
.navNoLogin {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    display: block;
}

.nav_link {
    display:inline-block;
    vertical-align: top;
    margin: 0 25px;
    position: relative;

    font-weight: 700;
    color: #333;
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link_active {
    display:inline-block;
    vertical-align: top;
    margin: 0 25px;
    position: relative;

    font-weight: 700;
    color: #4A61DD;
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link_active:after {
    content: "";
    width: 100%;
    height: 3px;
    opacity: 1;

    background-color: #4A61DD;

    position: absolute;
    top: 100%;
    left:0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:after {
    content: "";
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #4A61DD;

    position: absolute;
    top: 100%;
    left:0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #000;
}

.nav_link:hover:after {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

.containerTop_mobile {
    position: absolute;
    top: 20px;
    left: 20px;
}
.contentMenu_mobile {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    width: fit-content;
    padding: 20px;
    display: none;
    background: #fff;
}
.menuItem_mobile {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.bottomPanel {
    width: 100%;
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
}
.textBottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    width: fit-content;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.modalWindow {
    display: none;
    position: fixed;
    overflow: auto;
    min-width: 200px;
    width: 100%;
    max-width: 600px;
    height: 230px;
    top: 200px;
    left: 33%;
    vertical-align: middle;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
}

.alertText {
    font-size: 35px;
    padding: 40px;
    text-align: center;
}

.btnBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.btnGoLogIn {
    width: 130px;
    height: 40px;
    background: #4A61DD;
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}
.btnGoLogIn:hover {
    background: #2845DF;
}
